/* .manage-bookings {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .manages {
    text-align: center;
    margin-bottom: 20px;
  }

  .manages h1 {
    font-size: 24px;
    color: #6a0dad;
  }

  .review {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
  }

  .review h3 {
    font-size: 20px;
    color: #6a0dad;
  }

  .date {
    margin-top: 10px;
  }

  .date h4 {
    font-size: 16px;
    color: #333;
  }

  .buttons {
    margin-top: 20px;
  }

  .buttons button {
    background-color: #6a0dad;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .buttons button:hover {
    background-color: #540a8d;
  } */
