.hidden {
    display: none;
}

.home {
    font-size: 50px;
    list-style-type: none;
    background-color: lightblue;
}

.managerspots-link{
background-color: lightblue;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-button {
    list-style-type: none;

}

.spot-wrapper {
    border-style: solid;
}
